.pagination {
  margin-top: 50px !important;
  justify-content: center !important;
  .page-item {
    margin-left: 10px !important;
    &:first-child {
      margin-left: 0px !important;
    }
    .page-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 166.5%;
      text-transform: capitalize;
      color: $secondary-color !important;
      border-radius: 2px;
      border: 1px solid $secondary-color !important;
      text-align: center;
      @include flex-center;
      &:hover {
        background-color: $secondary-color !important;
        color: white !important;
      }
      &:focus {
        z-index: 3;
        background-color: transparent !important;
        outline: 0;
        color: $secondary-color !important;
        box-shadow: none !important;
      }
    }
  }
  .active {
    .page-link {
      background-color: $secondary-color !important;
      color: white !important;
    }
  }
}
