.Academic-Programs {
  background: $secondary-color;

  .text-document-content {
    p {
      color: #d6d6d6;
    }
  }
  .Academic-Programs-card-wrapper {
    display: flex;
    width: 100%;

    .card-wrapper {
      flex: 1;
      border-right: 1px solid white;

      &:last-child {
        border-right: none;
      }

      .card-item {
        @include background-property;
        height: 450px;
        width: 100%;
        position: relative;

        &:last-child {
          border-right: none;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: $secondary-color;
          opacity: 0.3;
          z-index: 1;
        }

        .Academic-Programs-tittle {
          color: #fff;
          text-align: center;
          font-family: Barlow;
          font-size: 20px;
          font-weight: 600;
          line-height: normal;
          letter-spacing: -0.2px;
          position: absolute;
          bottom: 20px;
          width: 100%;
          padding: 0px 20px;
          z-index: 2;
          transition: all 300ms;
        }
      }

      &:hover {
        .card-item {
          .Academic-Programs-tittle {
            translate: 0 -20px;
            scale: 1.2;
            text-shadow: 0px 6px 2px #000000;
            transition: all 300ms;
          }
        }
      }
    }
  }
}

.program-card {
  background-color: #E37A47;
  border-radius: 5px;
  overflow: hidden;

  &:nth-child(3n) {
    background-color: #59A584;

    figure {
      &::after {
        background-color: #59A584;
      }
    }
  }

  &:nth-child(2n) {
    background-color: #BF5148;

    figure {
      &::after {
        background-color: #BF5148;
      }
    }
  }

  &:nth-child(4n) {
    background-color: #068e87;

    figure {
      &::after {
        background-color: #068e87;
      }
    }
  }

  figure {
    height: 300px;
    width: 100%;
    position: relative;

    &::after {
      background-color: #E37A47;
      bottom: 0;
      content: "";
      height: 0;
      left: 0;
      opacity: .6;
      position: absolute;
      top: unset;
      transition: all .5s ease;
      width: 100%;
      z-index: 1;
    }
  }

  .card-details {
    padding: 20px 10px;

    .title {
      color: white;
      font-weight: 600;
      font-size: 20px;
    }

    p {
      font-size: 16px;
      color: #E7E7E7;
    }
  }

  &:hover {
    figure {
      height: 300px;
      width: 100%;
      position: relative;

      &::after {
        height: 100%;
      }
    }
  }
}